<div class="container">
  <div class="row">
    <div class="col-md-12">
      <% unless @user.company.present? %>
        <div class="mt-5 mb-5">
          <div class="card rounded-0">
            <div class="card-body">
              <p class="lead">Hi! <span class="badge badge-success"><%= @user.email%></span> you have not created your company yet just because your profile is not completed yet. Your dashboard will display stats once you successfully create your company. Please complete your profile first.</p>
              <%= link_to "Complete your profile", user_profile_edit_path, class: "btn btn-primary btn-lg rounded-0 btn-custom" %>
              <%= link_to "Create Your Company", new_user_company_path, class: "btn btn-primary btn-lg rounded-0 btn-custom" %>
            </div>
          </div>
        </div>
      <% else %>
        <div class="row mt-5 mb-5">
          <div class="col-md-6">
            <div class="card rounded-0">
              <div class="card-body">
                <h3 class="text-muted font-weight-bold"><%= @company.name %></h3>
                <small class="badge badge-secondary"><%= @company.status.capitalize %></small>
                <p class="mb-1 mt-4">
                  <i class="fas fa-envelope"></i> 
                  <span class="ml-1"><%= @company.email %></span>
                </p>
                <p class="mb-1">
                  <i class="fas fa-globe"></i> 
                  <span class="ml-1"><%= @company.website %></span>
                </p>
                <p class="mb-1">
                  <i class="fas fa-phone"></i> 
                  <span class="ml-1">+91 <%= @company.contact_one %></span>
                </p>
                <div class="mt-4 mb-4">
                  <% if @company.address_exists? %>
                    <hr>
                    <p class="mb-1 mt-2"><span class="text-muted font-weight-bold">Address:</span> <%= @company.address || 'NA' %></p>
                    <p class="mb-1"><span class="text-muted font-weight-bold">City:</span> <%= @company.city || 'NA' %></p>
                    <p class="mb-1"><span class="text-muted font-weight-bold">State:</span> <%= @company.state || 'NA' %></p>
                    <p class="mb-3"><span class="text-muted font-weight-bold">Country:</span> <%= @company.country || 'NA' %></p>
                    <%= link_to edit_address_info_user_company_path(@company), class: "btn btn-primary btn-custom rounded-0", data: { toggle: "modal", target: "#addressModal", remote: true } do %>
                      <i class="fas fa-pencil-alt mr-2"></i> Edit Address Information
                    <% end %>
                  <% else %>
                    <%= link_to edit_address_info_user_company_path(@company), class: "btn btn-primary btn-custom rounded-0", data: { toggle: "modal", target: "#addressModal", remote: true } do %>
                      <i class="fas fa-plus mr-2"></i> Add Address Information
                    <% end %>
                  <% end %>
                </div>
                <div class="mt-4 mb-4">
                  <% if @company.social_links_exists? %>
                    <hr>
                    <p class="mb-1 mt-2">
                      <span class="text-muted font-weight-bold">
                        <i class="fab fa-facebook-square"></i> 
                      </span> 
                      <a href="<%= @company.facebook_url %>" target="_blank"><%= @company.facebook_url || 'NA' %></a>
                    </p>
                    <p class="mb-1">
                      <span class="text-muted font-weight-bold">
                        <i class="fab fa-linkedin"></i> 
                      </span> 
                      <a href="<%= @company.linkedin_url %>" target="_blank"><%= @company.linkedin_url || 'NA' %></a>
                    </p>
                    <p class="mb-1">
                      <span class="text-muted font-weight-bold">
                        <i class="fab fa-youtube-square"></i> 
                      </span> 
                      <a href="<%= @company.youtube_url %>" target="_blank"><%= @company.youtube_url || 'NA' %></a>
                    </p>
                    <p class="mb-1">
                      <span class="text-muted font-weight-bold">
                        <i class="fab fa-google-plus-square"></i> 
                      </span> 
                      <a href="<%= @company.google_plus_url %>" target="_blank"><%= @company.google_plus_url || 'NA' %></a>
                    </p>
                    <p class="mb-3">
                      <span class="text-muted font-weight-bold">
                        <i class="fab fa-twitter-square"></i> 
                      </span> 
                      <a href="<%= @company.twitter_url %>" target="_blank"><%= @company.twitter_url || 'NA' %></a>
                    </p>
                    <%= link_to edit_social_info_user_company_path(@company), class: "btn btn-primary btn-custom rounded-0", data: { toggle: "modal", target: "#socialInfoModal", remote: true } do %>
                      <i class="fas fa-pencil-alt mr-2"></i> Edit Social Links
                    <% end %>
                  <% else %>
                    <%= link_to edit_social_info_user_company_path(@company), class: "btn btn-primary btn-custom rounded-0", data: { toggle: "modal", target: "#socialInfoModal", remote: true } do %>
                      <i class="fas fa-plus mr-2"></i> Add Social Links
                    <% end %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card rounded-0">
              <div class="card-body">
                <% if @company.job_posts.present? %>
                  <h5 class="text-muted font-weight-bold">Listing company's job post</h5>
                  <div class="list-group">
                    <% @company.job_posts.each do |job_post| %>
                      <%= link_to job_post.job_title, user_job_post_path(job_post), class: 'list-group-item list-group-item-action' %>
                    <% end %>
                  </div>
                  <%= link_to new_user_job_post_path, class: "btn btn-primary rounded-0 btn-custom mt-3" do %>
                    <i class="fas fa-plus mr-2"></i> New Job Post
                  <% end %>
                <% else %>
                  <p class="lead text-muted">Your company haven't created any job post yet. Please create first job post for your company. </p>
                  <%= link_to new_user_job_post_path, class: "btn btn-primary rounded-0 btn-custom" do %>
                    <i class="fas fa-plus mr-2"></i> New Job Post
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end%>
    </div>
  </div>
</div>

<div class="modal fade" id="addressModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
</div>

<div class="modal fade" id="socialInfoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
</div>
