<div class="container">
  <div class="row">
    <div class="col-md-12">
      <% unless @user.company.present? %>
        <div class="mt-5 mb-5">
          <div class="card rounded-0">
            <div class="card-body">
              <p class="lead">Hi! <span class="badge badge-success"><%= @user.email%></span> you have not created your company yet just because your profile is not completed yet. Your dashboard will display stats once you successfully create your company. Please complete your profile first.</p>
              <%= link_to "Complete your profile", user_profile_edit_path, class: "btn btn-primary btn-lg rounded-0 btn-custom" %>
              <%= link_to "Create Your Company", new_user_company_path, class: "btn btn-primary btn-lg rounded-0 btn-custom" %>
            </div>
          </div>
        </div>
      <% else %>
        <div class="row mt-5 mb-5">
          <div class="col-md-6">
            <div class="card rounded-0">
              <div class="card-body">
                <h3 class="text-muted font-weight-bold"><%= @company.name %></h3>
                <small class="badge badge-secondary"><%= @company.status.capitalize %></small>
                <p class="mb-1 mt-4">
                  <i class="fas fa-envelope"></i> 
                  <span class="ml-1"><%= @company.email %></span>
                </p>
                <p class="mb-1">
                  <i class="fas fa-globe"></i> 
                  <span class="ml-1"><%= @company.website %></span>
                </p>
                <p class="mb-1">
                  <i class="fas fa-phone"></i> 
                  <span class="ml-1">+91 <%= @company.contact_one %></span>
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
          </div>
        </div>
      <% end%>
    </div>
  </div>
</div>
