<div class="container">
  <div class="row">
    <div class="col-md-12 mt-5 mb-5">
      <div class="card rounded-0 border-left-site">
        <div class="card-body">
          <h3 class="font-weight-bold text-muted">Listing Contacts for <span class="text-site"><%= @company.name %></span></h3>
        </div>
      </div>
      <div class="mt-4">
        <div class="card rounded-0">
          <div class="card-body">
            <table id="company_contacts" class="table table-striped table-bordered" style="width:100%">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Email</th>
                  <th>Contact Number</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <% @contacts.each do |contact| %>
                  <tr>
                    <th><%= contact.name %></th>
                    <th><%= contact.email %></th>
                    <th><%= contact.contact_number %></th>
                    <th><%= link_to 'Show', user_contact_path(contact), class: 'btn btn-sm btn-light-site' %></th>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    $('#company_contacts').DataTable();
  });
</script>
