<div class="container">
  <div class="row mt-5 mb-5">
    <div class="col-md-5">
      <div class="card rounded-0">
        <div class="card-body">
          <h5 class="text-muted font-weight-bold">Name</h5>
          <h6 class="text-muted font-14"><%= @contact.name %></h6>
          <hr>
          <h5 class="text-muted font-weight-bold">Email</h5>
          <h6 class="text-muted font-14"><%= @contact.email %></h6>
          <hr>
          <h5 class="text-muted font-weight-bold">Contact Number</h5>
          <h6 class="text-muted font-14"><%= @contact.contact_number %></h6>
          <hr>
          <h5 class="text-muted font-weight-bold">Message</h5>
          <p class="text-muted font-14"><%= @contact.message %></p>
        </div>
      </div>
    </div>
    <div class="col-md-7">
      <div class="card rounded-0">
        <div class="card-body">
          <%= form_for :email_content, url: :send_email_to_contactee_user_contact, method: :post do |f| %>
            <%= f.hidden_field :sender, value: current_user.email %>
            <div class="form-group">
              <%= f.label :email_to %>
              <%= f.email_field :receiver, value: @contact.email, class: 'form-control rounded-0', required: true %>
            </div>
            <div class="form-group">
              <%= f.label :subject %>
              <%= f.text_field :subject, class: 'form-control rounded-0', required: true %>
            </div>
            <div class="form-group">
              <%= f.label :content %>
              <%= f.text_area :content, class: 'form-control rounded-0', rows: '9', required: true %>
            </div>
            <div class="form-group">
              <%= f.submit 'Send Email', class: 'btn btn-primary btn-custom rounded-0' %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
