<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2 class="text-muted mt-4 mb-3">Edit Profile <i class="fas fa-pencil-alt"></i></h2>
      <%= form_for(@user, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= render "users/shared/error_messages", resource: resource %>
        <div class="card rounded-0 mb-3">
          <div class="card-body">
            <div class="form-group row">
              <div class="col-12">
                <p class="lead font-weight-bold">Personal Information <i class="fas fa-user-alt"></i></p>
              </div>
              <div class="col-md-4 col-lg-4 col-sm-6">
                <%= f.label :first_name %>
                <%= f.text_field :first_name, class: "form-control form-control-lg rounded-0" %>
              </div>
              <div class="col-md-4 col-lg-4 col-sm-6">
                <%= f.label :last_name %>
                <%= f.text_field :last_name, class: "form-control form-control-lg rounded-0" %>
              </div>
              <div class="col-md-4 col-lg-4 col-sm-6">
                <%= f.label :contact_number %>
                <%= f.text_field :contact, class: "form-control form-control-lg rounded-0" %>
              </div>
            </div>
          </div>
        </div>

        <div class="card rounded-0 mb-3">
          <div class="card-body">
            <div class="form-group row">
              <div class="col-12">
                <p class="lead font-weight-bold">Address Information <i class="fas fa-map-marker-alt"></i></p>
              </div>
              <div class="col-md-4 col-lg-4 col-sm-6">
                <%= f.label :city %>
                <%= f.text_field :city, class: "form-control form-control-lg rounded-0" %>
              </div>
              <div class="col-md-4 col-lg-4 col-sm-6">
                <%= f.label :country %>
                <%= f.text_field :country, class: "form-control form-control-lg rounded-0" %>
              </div>
              <div class="col-md-4 col-lg-4 col-sm-6">
                <%= f.label :nationality %>
                <%= f.text_field :nationality, class: "form-control form-control-lg rounded-0" %>
              </div>
            </div>
          </div>
        </div>

        <div class="card rounded-0 mb-3">
          <div class="card-body">
            <div class="form-group row">
              <div class="col-12">
                <p class="lead font-weight-bold">Account Information <i class="fas fa-lock"></i></p>
              </div>
              <div class="col-md-4 col-lg-4 col-sm-6">
                <%= f.label :email %>
                <%= f.email_field :email, class: "form-control form-control-lg rounded-0" %>
              </div>
              <div class="col-md-4 col-lg-4 col-sm-6">
                <%= f.label :password %>
                <%= f.password_field :password, class: "form-control form-control-lg rounded-0" %>
              </div>
              <div class="col-md-4 col-lg-4 col-sm-6">
                <%= f.label :password_confirmation %>
                <%= f.password_field :password_confirmation, class: "form-control form-control-lg rounded-0" %>
              </div>
            </div>
          </div>
        </div>

        <div class="card rounded-0 mb-3">
          <div class="card-body"> 
            <div class="form-group row">
              <div class="col-md-6">
                <p class="lead">We need your current password to confirm your changes</p>
                <%= f.label :current_password %>
                <%= f.password_field :current_password, class: "form-control form-control-lg rounded-0" %>
              </div>
            </div>
            <div class="form-group">
              <%= f.submit "Update Profile", class: "btn btn-success btn-lg rounded-0 btn-success-custom" %>
            </div>
          </div>
        </div>

      <% end %>

    </div>
  </div>
</div>

